<div id="wpcd-wpapp-instructions-popup-content-wrap" class="wpcd-wpapp-instructions-popup-content-wrap">
	<div style="text-align: center;">
		<h1>Your WordPress server is now ready for use</h1>
	</div>
	<p>Thank you for your patience - your server is now ready.</p>
	<p>You can now install your first WordPress Site as follows:</p>
	<p>1. Login to your WordPress admin sreen (wp-admin)</p>
	<p>2. Go to WPCLOUD DEPLOY->ALL CLOUD SERVERS</p>
	<p>3. Hover over the server name and select the INSTALL WORDPRESS link.</p>
	<h2>About your Server</h2>
	Name: $NAME<br> Provider: $PROVIDER<br> IP: $IP<br>
	<h2>Obtaining Help</h2>
	<p>Need help? Check out the help documentation on the WPCLOUDDEPLOY.COM website or open a support ticket.</p>
</div>