<div id="wpcd-basic-server-instructions-popup-content-wrap" class="wpcd-basic-server-instructions-popup-content-wrap">
	<div style="text-align: center;">
		<h1>Instructions and FAQS</h1>
	</div>
	<div>
		<h2>How do I use my server?</h2>
		<p>To use your server, you need to first install an APP - usually WordPress. But, contact our support folks and
			we can usually install anything else you might need.</p>
	</div>
	<div id="wpcd-basic-server-instructions-popup-content-grid"
		class="wpcd-basic-server-instructions-popup-content-grid">
		<div class="wpcd-basic-server-instructions-grid-item">
			<h3><i class="fab fa-app-store-ios"></i> Installing WordPress</i></h3>
			<p>Here are instructions for installing WordPress <a href="/help/how-to-install-wordpress-app/">here</a></p>
		</div>

		<div class="wpcd-basic-server-instructions-grid-item wpcd-basic-server-instructions-grid-item-about-server">
			<h2><i class="fas fa-globe-asia"></i> About your Server</h2>
			Name: $NAME<br> Provider: $PROVIDER<br> IP: $IP<br> Size: $SIZE<br>
		</div>
	</div>
</div>