<div id="wpcd-basic-server-instructions-popup-content-wrap" class="wpcd-basic-server-instructions-popup-content-wrap">
	<div style="text-align: center;">
		<h1>Your server is now ready</h1>
	</div>
	<p>Thank you for your patience - your server is now ready for use.</p>
	<p>You can install your first APP from your servers page in your account screen.</p>
	<p>You can view your new server information by <a href="https://spinupvpn.com/account/vpn/">clicking here</a></p>
	<h2>Help</h2>
	<p>You can access all our help documents starting <a href="https://spinupvpn.com/help/">here.</a>
	<p>You can also open up a support ticket any time <a href="https://spinupvpn.com/submit-ticket">here</a> or <a
			href="https://spinupvpn.com/my tickets"> View your open tickets </a></p>
	<h2>About your Server</h2>
	Name: $NAME<br> Provider: $PROVIDER<br> IP: $IP<br> Size: $SIZE<br>
</div>