/* 
    Created on : Jan 27, 2022, 9:56:53 AM
    Author     : Tahir Nazir
*/


.rwmb-meta-box .rwmb-tabs {
        margin: 0;
}

#wpcd_public_wrapper {

        max-width: 100%;
}


#wpcd_public_wrapper .wpcd-create-popup-label {
        font-size: 13px;
}

#wpcd_public_wrapper .wpcd-pre-install,
#wpcd_public_wrapper #wpcd_public_servers_container,
#wpcd_public_wrapper .wpcd_public_container {
        width: 96%;
        margin: 0 auto;
        padding-right: 0;
}


#wpcd_public_wrapper .wpcd-create-popup-label-wrap {
        margin-bottom: 6px;
}


#wpcd_public_wrapper .wpcd-create-popup-grid-wrap:after {
        content: ' ';
        float: none;
        clear: both;
}

#wpcd_public_wrapper .wpcd-popup .wpcd-log-title {
        font-size: 26px;
        margin-top: 26px;
        margin-bottom: 26px;
        margin-left: 5px;
}

#wpcd_public_wrapper .wpcd-popup .wpcd-log-close-button {
        display: inline-block;
        font-size: 13px;
        border-radius: 3px;
        line-height: 28px;
        padding: 0 10px;
        border: 1px solid #2271b1;
        color: #2271b1;
}

#wpcd_public_wrapper .wpcd-popup .wpcd-log-close-button a {
        color: inherit;
}

#wpcd_public_wrapper .wpcd-log-close-wrap {
        margin-top: 13px;
}

#wpcd_public_wrapper .wpcd-log-wrap {
        padding: 3px 26px 26px 26px;
}


#wpcd_public_wrapper th.manage-column {
        font-size: 13px;
}

#wpcd_public_wrapper td {
        font-size: 14px;
}


#wpcd_public_wrapper .tablenav .tablenav-pages {
        float: right;
        margin: 9px 0 9px;
        font-size: 14px;
}

#wpcd_public_wrapper .tablenav .displaying-num {
        margin-right: 7px;
}

#wpcd_public_wrapper .tablenav .tablenav-pages .button,
#wpcd_public_wrapper .tablenav .tablenav-pages .tablenav-pages-navspan {
        display: inline-block;
        vertical-align: baseline;
        min-width: 30px;
        min-height: 30px;
        margin: 0;
        padding: 0 4px;
        border-width: 1px;
        font-size: 16px;
        line-height: 1.625;
        text-align: center;
}

#wpcd_public_wrapper .tablenav-pages .current-page {
        margin: 0 2px 0 0;
        font-size: 13px;
        padding: 0 8px;
        text-align: center;
        min-height: 30px;
}


#wpcd_public_wrapper .tablenav .actions select {
        width: 13%;
        float: left;
        margin-bottom: 10px;
        margin-right: 6px;
        max-width: 12.5rem;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 14px;
        border-radius: 3px;
}

#wpcd_public_wrapper .tablenav .actions #post-query-submit {
        float: left;
}

#wpcd_public_wrapper .tablenav .actions #post-query-submit,
#wpcd_public_wrapper .rwmb-input button {
        font-size: 13px;
        padding-top: 0;
        padding-bottom: 0;
        min-height: 30px;
        border-width: 1px;
        display: inline-block;
}

#wpcd_public_wrapper td button.toggle-row {
        display: none;
}


#wpcd_public_wrapper a.deploy_button {
        display: inline-block;
        margin: 20px 0;
}

#wpcd_public_wrapper .wpcd-popup .wpcd-log-console,
#wpcd_public_wrapper .wpcd_custom_tooltiptext,
#wpcd_public_wrapper .rwmb-tab-panels {
        font-size: 13px;
}


#wpcd_public_wrapper .rwmb-tab-nav {
        padding: 0;
}

#wpcd_public_wrapper ul.rwmb-tab-nav li a {
        font-size: 14px;
}


#wpcd_public_wrapper #wpcd_server_wordpress-app_tab_top_of_server_details {
        margin: 0;
}


#wpcd_public_wrapper #wpcd_server_wordpress-app_tab3 {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: 20px;
}

#wpcd_public_wrapper .rwmb-input label.rwmb-switch-label {
        cursor: pointer;
}

#wpcd_public_wrapper .rwmb-meta-box.wpcd_server_wordpress-app_tab_top_of_server_details label {
        font-size: 12px;
}

#wpcd_public_wrapper .rwmb-meta-box.wpcd_server_wordpress-app_tab_top_of_server_details .rwmb-input {
        font-size: 15px;
}

#wpcd_public_wrapper .rwmb-label,
#wpcd_public_wrapper .rwmb-label label {
        font-size: 13px;
}

#wpcd_public_wrapper .wpcd-back_link {
        display: inline-block;
        margin-bottom: 20px;
}


#wpcd_public_wrapper .wpcd-install-app-container.wpcd-popup {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 2%;
        padding-right: 2%;
}

.wpcd-install-app-container-show-log-console {
        width: 65%;
        margin: 0 auto;
}

.wpcd-install-app-container-show-log-console .wpcd-popup .wpcd-create-popup-console-wrap {
        width: 100%;
}

.wpcd-install-app-container-show-log-console .wpcd-header {
        margin-left: 2%;

}

.wpcd-header {
        margin-left: 2%;
}

#wpcd_public_wrapper .wpcd-install-app-container.wpcd-popup .wpcd-create-popup-input-wrap input,
#wpcd_public_wrapper .wpcd-install-app-container.wpcd-popup .wpcd-create-popup-input-wrap select {
        font-size: 14px;
        box-shadow: 0 0 0 transparent;
        border-radius: 4px;
        border: 1px solid #8c8f94;
        background-color: #fff;
        color: #2c3338;
        line-height: 28px;
        padding-top: 0;
        padding-bottom: 0;
        min-height: 30px;
}

#wpcd_public_wrapper .wpcd-install-app-container.wpcd-popup .wpcd-create-popup-label-wrap {
        line-height: 18px;
}

#wpcd_public_wrapper .wpcd-install-app-container .wpcd-action-title {
        font-size: 26px;
}

#wpcd_public_wrapper .wpcd-install-app-container.wpcd-popup .wpcd-action-instructions {
        font-size: 13px;
}

#wpcd_public_wrapper .mfp-wrap {
        background: #eceff1;
}

#wpcd_public_wrapper .mfp-content {
        padding-bottom: 50px;
}

#wpcd_public_wrapper .wpcd-create-popup-input-wrap.wpcd-create-popup-input-wp-version-select2-wrap {
        position: relative;
}


#wpcd_public_wrapper .select2-search input.select2-search__field {
        line-height: 28px;
        border-radius: 4px;
        margin-left: 1px;
        margin-right: 1px;
}

#wpcd_public_wrapper ul.select2-results__options li.select2-results__option,
#wpcd_public_wrapper .select2-selection {
        font-size: 13px;
}


#wpcd_public_wrapper .wpcd-create-popup-input-wrap .wpcd-install-button.wpcd-install-app {
        font-size: 17px;
}


#wpcd_public_wrapper button .rwmb-button a {
        color: #FFF;
}


#wpcd_public_wrapper .subsubsub {
        list-style: none;
        margin: 8px 0 0;
        padding: 0;
        font-size: 13px;
        color: #646970;
        margin-bottom: 10px;
}

#wpcd_public_wrapper .tablenav .no-pages,
#wpcd_public_wrapper .tablenav .one-page .pagination-links {
        display: none;
}

#wpcd_public_wrapper .subsubsub li {
        display: inline-block;
        margin: 0;
        padding: 0;
        white-space: nowrap;
}

#wpcd_public_wrapper .subsubsub a {
        line-height: 2;
        padding: 0.2em;
        text-decoration: none;
}

#wpcd_public_wrapper .subsubsub a.current {
        font-weight: 700;
        border: none;
}

#wpcd_public_wrapper .subsubsub a .count,
#wpcd_public_wrapper .subsubsub a.current .count {
        color: #50575e;
        font-weight: 400;
}

#wpcd_public_wrapper #wpcd_wordpress-app_tab_top_of_site_details button {
        background-color: inherit;
}

#wpcd_public_wrapper .row-actions {
        /* Nothing here */
}

#wpcd_public_wrapper .wpcd-grid-table-row:hover .row-actions {
        /* Nothing here */
}


#wpcd_public_wrapper br.clear {
        clear: both;
        float: none;
}

/* Format the DEPLOY A WORDPRESS SERVER and INSTALL WORDPRESS buttons. */
#wpcd_public_wrapper a.deploy_button {
		background-color: #1B5E20;
		border: solid;
		border-color: #1B5E20;
		padding: 9px 17px 9px 17px;
		border-radius: 6px;
		color: white;
		text-decoration: none;		
}
#wpcd_public_wrapper a.deploy_button:hover {
		border-color: #5560C2;	
		background-color: #5560C2;
}
/* End format DEPLOY WORDPRESS SERVER button. */

/* Format INSTALL WORDPRESS button */
#wpcd_public_wrapper button.wpcd_action_install_app {
		/* Colors will be taken from global css vars loaded in the wpcd-server-admin.css stylesheet */
		padding: 9px 17px 9px 17px;
		border-radius: 6px;	
}
#wpcd_public_wrapper button.wpcd_action_install_app:hover {
		/* Nothing here */
}
/* End Format INSTALL WORDPRESS button */

/* Format site image - from powerpack */
#wpcd_public_wrapper .wpcd_site_home_page_image.column-wpcd_site_home_page_image a img {
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	border-radius: 10px;
}
#wpcd_public_wrapper #wpcd_public_apps_container .wpcd-grid-table-cell:first-child {
	/* Remove cell background for homepage image.  Unfortunately the cell doesn't have a classname so we use first-child since the home-page image will usually be the first column. */
	/**** none of this works well right now so removing...
	padding: 0px;
	border-radius: 0px;
	background-color: transparent;
	****/
}
/* End format site image - from powerpack */


/**
 * The following section handles the formatting of the table list for servers and sites on the front-end. 
 */
.wpcd-grid-table {
		/* Formatting for all elements in the table grid */
		color: black;
		font-size: 15px;
		line-height: 20px;
		font-weight: 700;
		font-style: normal;		
}

.wpcd-grid-table a {
		/* Link styling for all elements in the table grid */
		font-weight: 600;
		font-style: normal;
}

.wpcd-grid-table-col,
.wpcd-grid-table-cell {
		/* Make each table cell a white card. */
		background-color: white;
		border-radius: 10px;
        padding: 35px 30px 35px 30px;
}

.wpcd-grid-table .no-items {
		/* @TODO: Not sure what this does - is it needed?  */
        padding: 10px 0;
}


.wpcd-grid-table-rows {
		/* All rows are in a grid - right now just one column but later we might adjust to make it two. */
        display: grid;
		grid-template-columns: 1fr;
		column-gap: 20px;			
}

.wpcd-grid-table.table-hidden .wpcd-grid-table-columns,
.wpcd-grid-table.table-hidden .wpcd-grid-table-rows {
        /* Nothing here */
}

.wpcd-grid-table-loader {
        background: url(/wp-content/plugins/wp-cloud-deploy/assets/images/spinner.gif) no-repeat center center;
        width: 100%;
        height: 100px;
        margin-top: 50px;
        display: none;
}

.wpcd-grid-table.table-hidden .wpcd-grid-table-loader {
        display: block;
}

.wpcd-grid-table * {
        word-wrap: break-word;
}

.wpcd-grid-table button.toggle-row {
        display: none;
}

.wpcd-grid-table-columns {
		/* Nothing here */
}

.row_col_name {
        display: none;
        font-weight: bold;
        color: rgb(160, 174, 192);
}

.wpcd-grid-table.mobile .wpcd-grid-table-cell {
        /* Nothing here */
}

.wpcd-grid-table.mobile .row_col_name {
        /* Nothing here */
}

.wpcd-grid-table.mobile .wpcd-grid-table-row {
		/* Nothing here */
}

.wpcd-grid-table-rows .wpcd-grid-table-row {
		/* Each table row */
		margin-top: 40px;
		margin-bottom: 40px;		
		background-color: #AEB1D3;
        xx-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
        border-radius: 6px;
		padding: 20px;
}

.wpcd-grid-table .wpcd-grid-table-columns,
.wpcd-grid-table .wpcd-grid-table-rows .wpcd-grid-table-row {
		/* All cells within a row will also be in a grid. */
        display: grid;		
        grid-template-columns: 1fr 1fr 1fr;
		column-gap: 20px;				
        grid-auto-rows: auto;
		grid-row-gap: 15px;
        width: 100%;		
}

.wpcd-grid-table-rows .wpcd-grid-table-row {
		/* Set the max width for each table row */
        max-width: 1400px;
		margin-left: auto;
		margin-right: auto;
}

.wpcd-grid-table .row_col_name {
		/* The column name at the top of each card */
        display: block;
		margin-bottom: 10px;
}

.wpcd-grid-table .wpcd-grid-table-columns {
		/* @TODO: Not sure what this is - table title columns?  */
        display: none;
}

/* Server and app groups */
.wpcd-grid-table .column-wpcd_app_group {
	/* Grid for server and app groups - three columns.  Label will go in the first row. */
	display: grid;
	grid-template: "a a a"
				   "b b b";	
	grid-row-gap: 15px;
	column-gap: 20px;
}
.wpcd-grid-table .column-wpcd_app_group .row_col_name {
	/* Assign label to first row of grid. */
	grid-area: a;
}
.wpcd-grid-table .wpcd-app-server-app-group,
.wpcd-grid-table .wpcd-app-server-app-group {
	/* Assign server and app groups to the 2nd row of the grid.*/
	grid-area: b;	
}
.wpcd-grid-table .wpcd-app-server-app-group,
.wpcd-grid-table .wpcd-app-server-app-group {
	/* format the server and app groups into buttons' */
	line-height: 20px;
	display: block;
	padding: 10px;
	color: white;
	border-radius: 5px;
}
/* End server and app groups */

/* Style in-line values such as "region: xxx" and "ipv4: xxx */
.wpcd-grid-table [class^="wpcd-app-col-element-wrap-"],
.wpcd-grid-table [class*=" wpcd-app-col-element-wrap-"] {
	display: block;
	margin-bottom: 15px;
}
.wpcd-grid-table [class^="wpcd-app-col-element-label-"],
.wpcd-grid-table [class*=" wpcd-app-col-element-label-"] {
	/* Nothing here. */
}
.wpcd-grid-table [class^="wpcd-app-col-element-value-"],
.wpcd-grid-table [class*=" wpcd-app-col-element-value-"] {
	float: right;
	xpadding-top: 10px;
}
/* End style in-line value */

/* Style the "apps on this server" link - make it a button. */
.wpcd-grid-table .wpcd-app-col-element-label-apps_on_server a {
	display: inline-block;
	margin-top: 10px;
	background-color: #5560C2;
	padding: 9px 17px 9px 17px;
	border-radius: 6px;
	color: white;
	font-size: 15px;
	font-weight: 700;
}
/* End Style the "apps on this server link" */

.wpcd-grid-table .wpcd-app-col-element-wrap-health_last_update {
	/* Make the last updated row in the APP HEALTH card a little more vertical space above. */
	margin-top: 10px;
}

.wpcd-grid-table .column-title .row_col_name {
	/* Adjust the bottom margin in the title column label a bit because we'll be increasing the size of the title. */
	margin-bottom: 5px;
}

/* Make the title bigger */
.wpcd-grid-table .column-title .row_col_name{
	display: none;
}
.wpcd-grid-table .column-title .row_col_name + a {
	display: block;
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 20px;
	x-text-align: center;
	color: #5560C2;
}
/* End make the title bigger */

/* Make row actions buttons */
.wpcd-grid-table .row-actions a {
	display: inline-block;
	background-color: #5560C2;
	padding: 9px 17px 9px 17px;
	border-radius: 6px;
	color: white;
	font-size: 15px;
	font-weight: 700;
	margin-right: 15px;
	min-width: 90px;
}
.wpcd-grid-table .row-actions {
	/* Center the row action buttons within the card. */
	margin: 0 auto;
	text-align: center;
}
.wpcd-grid-table .row-actions .view a:before {
	/* View link - nothing here */
}
/* End make row actions buttons */

@media screen and (max-width: 1200px) {

        .wpcd-grid-table .wpcd-grid-table-columns,
        .wpcd-grid-table .wpcd-grid-table-rows .wpcd-grid-table-row {
                grid-template-columns: 1fr 1fr;
        }

        .wpcd-grid-table .wpcd-grid-table-cell:nth-child(3n) {
                /* Nothing here */
        }

        .wpcd-grid-table .wpcd-grid-table-cell:nth-child(2n) {
                /* Nothing here */
        }
}

@media screen and (max-width: 650px) {

        .wpcd-grid-table .wpcd-grid-table-columns,
        .wpcd-grid-table .wpcd-grid-table-rows .wpcd-grid-table-row {
                grid-template-columns: 1fr;
        }

        .wpcd-grid-table .wpcd-grid-table-cell,
        .wpcd-grid-table .wpcd-grid-table-cell:nth-child(3n),
        .wpcd-grid-table .wpcd-grid-table-cell:nth-child(2n) {
                /* Nothing here */
        }

}