/* Format the ssl status column on the apps list screen */
.wpcd_ssl_status {
    display: inline-block;
    padding: 2px 8px;
    font-weight: 700;
    color: #fff;
    vertical-align: baseline;
    border-radius: 3px;
    margin: 2px;
}

.wpcd_ssl_status_off {
    background-color: red;
}

.wpcd_ssl_status_on {
    background-color: green;
}

/* Format the PHP version on the apps list screen */
.wpcd_php_version {
    display: inline-block;
    padding: 2px 8px;
    font-weight: 700;
    vertical-align: baseline;
    border-radius: 3px;
    border-color: red !important;
    /* Not sure why important is needed for this one but oh well. */
    border: solid;
    border-width: 2px;
    margin: 2px;
}

.wpcd_php_version_7_4,
.wpcd_php_version_8_0,
.wpcd_php_version_8_1 {
    border-color: green !important;
}

.wpcd_php_version_7_3,
.wpcd_php_version_7_2,
.wpcd_php_version_7_1,
.wpcd_php_version_7_0 {
    border-color: orange !important;
}

.wpcd_php_version_8_2,
.wpcd_php_version_8_3,
.wpcd_php_version_9_0 {
    border-color: purple !important;
    color: purple;
}

/* Format the ADMIN LOGIN link on the apps list screen - make sure it's only when we're in the admin area though. */
.wp-list-table .wpcd-app-col-element-label-wp_admin_link {
    display: inline-block;
    padding: 2px 8px;
	background-color: green;
    vertical-align: baseline;
    border-radius: 3px;
    border-color: green !important;
    /* Not sure why important is needed for this one but oh well. */
    border: solid;
    border-width: 2px;
    margin: 2px;	
}
.wp-list-table .wpcd-app-col-element-label-wp_admin_link a {
	color: white;
}
.wp-list-table .wpcd-app-col-element-label-wp_admin_link:hover {
	box-shadow: 1px 1px 30px 0 rgba(0,0,0,.3); 
}

/* Format the VIEW SITE link on the apps list screen - make sure it's only when we're in the admin area though. */
.wp-list-table .wpcd-app-col-element-value-homepage_link {
    display: inline-block;
    padding: 2px 8px;
	background-color: green;
    vertical-align: baseline;
    border-radius: 3px;
    border-color: green !important;
    /* Not sure why important is needed for this one but oh well. */
    border: solid;
    border-width: 2px;
    margin: 2px;	
}
.wp-list-table .wpcd-app-col-element-value-homepage_link a {
	color: white;
}
.wp-list-table .wpcd-app-col-element-value-homepage_link:hover {
	box-shadow: 1px 1px 30px 0 rgba(0,0,0,.3); 
}


/* Format the PLUGIN AND THEME updates on the apps list screen */
.wpcd_site_update_needed {
    display: inline-block;
    padding: 2px 8px;
    font-weight: 700;
    vertical-align: baseline;
    border-radius: 3px;
    border-color: orange !important;
    /* Not sure why important is needed for this one but oh well. */
    border: solid;
    border-width: 2px;
    margin: 2px;
}


/* Format the Syncing Destination Server on the apps list screen */
.wpcd_destination_site_sync_server {
    display: inline-block;
    padding: 2px 8px;
    font-weight: 700;
    vertical-align: baseline;
    border-radius: 3px;
    border-color: blue !important;
    /* Not sure why important is needed for this one but oh well. */
    border: solid;
    border-width: 2px;
    margin: 2px;
}


/** 
 * Set the width of some of the app list columns 
 */


/*
 * Removed from the title column for now - WP is a little smarter at sizing than we thought.
 */


/*
.post-type-wpcd_app th#title {
	min-width: 25%;
	width: 25%;
}
*/

.post-type-wpcd_app th#wpcd_wpapp_php,
.post-type-wpcd_app th#wpcd_wpapp_ssl {
    width: 8%;
}


/** 
 * Make filter bar multiple rows
 */
.tablenav .actions:not(.bulkactions) {
    margin-top: 10px;
}

.tablenav .actions:not(.bulkactions) select {
    width: 13%;
    margin-bottom: 10px;
}


/* the spinner - start */
.locker,
.locker-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.locker {
    z-index: 1000;
    opacity: 0.8;
    background-color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.locker-loader {
    z-index: 1001;
    background: url(/wp-content/plugins/wp-cloud-deploy/assets/images/spinner.gif) no-repeat center center;
}
/* the spinner - end */