<div id="wpcd-vpn-instructions-popup-content-wrap" class="wpcd-vpn-instructions-popup-content-wrap">
	<div style="text-align: center;">
		<h1>Instructions and FAQS</h1>
	</div>
	<div>
		<h2>How do I use my server?</h2>
		<p>To use your VPN server, you need to install and configure the OPENVPN client on your device.
			Regardless of which device you use, you should download the configuration file from this screen using the
			DOWNLOAD button.
			Below are links to instructions on how to configure each device type.
		</p>
	</div>
	<div id="wpcd-vpn-instructions-popup-content-grid" class="wpcd-vpn-instructions-popup-content-grid">
		<div class="wpcd-vpn-instructions-grid-item">
			<h3><i class="fab fa-app-store-ios"></i> iOS Devices</i></h3>
			<p>You can find instructions for configuring iOS devices such as iPhones and iPads <a
					href="/help/how-to-configure-apple-ios-iphones-ipads/">here</a></p>
		</div>

		<div class="wpcd-vpn-instructions-grid-item">
			<h3><i class="fab fa-android"></i> Android Devices</h3>
			<p>You can find instructions for configuring Android devices <a
					href="/help/how-to-configure-android-devices/">here</a></p>
		</div>
		<div class="wpcd-vpn-instructions-grid-item">
			<h3><i class="fab fa-windows"></i> Windows 10 Devices</h3>
			<p>You can find instructions for configuring desktops and laptops <a
					href="/help/how-to-configure-windows-10-devices/">here</a></p>
		</div>
		<div class="wpcd-vpn-instructions-grid-item">
			<h3><i class="fab fa-apple"></i> MacOS (Coming Soon)</h3>
			<p>When it is available you will find instructions for configuring desktops and laptops <a
					href="/help/how-to-configure-mac-devices/">here</a></p>
		</div>
		<div class="wpcd-vpn-instructions-grid-item">
			<h3><i class="fab fa-linux"></i> Linux (Coming Soon)</h3>
			<p>When it is available you will find instructions for configuring Linux based desktops and laptops <a
					href="/help/how-to-configure-linux-desktop-and-laptops/">here</a></p>
		</div>
		<div class="wpcd-vpn-instructions-grid-item wpcd-vpn-instructions-grid-item-help">
			<h3><i class="fas fa-question-circle"></i> Help</h3>
			<p>You can access all our help documents starting <a href="/help/">here.</a> This includes instructions for
				any device type not listed above</p>
			<p>You can also open up a support ticket any time <a href="/submit-ticket">here</a> or <a
					href="/my tickets"> View your open tickets </a></p>
		</div>
		<div class="wpcd-vpn-instructions-grid-item wpcd-vpn-instructions-grid-item-about-server">
			<h2><i class="fas fa-globe-asia"></i> About your VPN Server</h2>
			Name: $NAME<br> Provider: $PROVIDER<br> IP: $IP<br> Protocol: $PROTOCOL<br> Size: $SIZE<br> Users:
			$USERS<br>
		</div>
	</div>
</div>