<div id="wpcd-vpn-instructions-popup-content-wrap" class="wpcd-vpn-instructions-popup-content-wrap">
	<div style="text-align: center;">
		<h1>Your Private VPN server is now ready</h1>
	</div>
	<p>Thank you for your patience - your VPN server is now ready for use.</p>
	<p>You can view your new server information by <a href="https://spinupvpn.com/account/vpn/">clicking here</a></p>
	<p>Below is some information on what you need to do next to get your devices configured to use your new private VPN
		server.</p>
	<h2>Next Steps: How to use your server</h2>
	<p>To use your VPN server, you need to install and configure the OPENVPN client on your device.</p>
	<p>Regardless of which device you use, you should download the configuration file from your <a
			href="https://spinupvpn.com/account/vpn/">VPN account screen.</a></p>
	<p>Below are links to instructions on how to configure each device type.</p>
	<h3>iOS Devices</h3>
	<p>You can find instructions for configuring iOS devices such as iPhones and iPads <a
			href="https://spinupvpn.com/help/how-to-configure-apple-ios-iphones-ipads/">here</a></p>
	<h3>Android Devices</h3>
	<p>You can find instructions for configuring devices such as Samsung phones and tablets <a
			href="https://spinupvpn.com/help/how-to-configure-android-devices/">here</a></p>
	<h3>Windows 10 Devices</h3>
	<p>You can find instructions for configuring Windows 10 desktops and laptops <a
			href="https://spinupvpn.com/help/how-to-configure-windows-10-devices/">here</a></p>
	<h2>Help</h2>
	<p>You can access all our help documents starting <a href="https://spinupvpn.com/help/">here.</a> This includes
		instructions for any device type not listed above</p>
	<p>You can also open up a support ticket any time <a href="https://spinupvpn.com/submit-ticket">here</a> or <a
			href="https://spinupvpn.com/my-tickets"> View your open tickets </a></p>
	<h2>About your VPN Server</h2>
	Name: $NAME<br> Provider: $PROVIDER<br> IP: $IP<br> Protocol: $PROTOCOL<br> Size: $SIZE<br> Users: $USERS<br>
</div>