<div id="wpcd-stablediff-instructions-popup-content-wrap" class="wpcd-stablediff-instructions-popup-content-wrap">
	<div style="text-align: center;">
		<h1>Your Private Stable Diffusion server is now ready</h1>
	</div>
	<p>Thank you for your patience - your Stable Diffusion server is now ready for use.</p>
	<p>You can start generating images on your new server by <a href="$SERVERPAGE">clicking here</a></p>
	<h2>Help</h2>
	<p>You can access all our help documents starting <a href="$HELPPAGE">here.</a> This includes
		instructions for any device type not listed above</p>
	<p>You can also open up a support ticket any time <a href="$NEWTICKET">here</a> or <a
			href="$MYTICKETS"> View your open tickets </a></p>
	<h2>About your Stable Diffusion Server</h2>
	Name: $NAME<br> Provider: $PROVIDER<br> IP: $IP<br> Size: $SIZE<br>
	<br />
	<hr />
	<br />
	- The friendly staff at $SITENAME
</div>