/* This file is loaded globally on the dashboard */


/* Note: As of WPCD 4.13 Brand colors have been removed from this file and added as dynamic php vars to wp-cloud-deploy.php. */


/* Force all tooltips in metabox.io to be darker. */

.mb-tooltip {
    opacity: 0.65 !important;
}

.mb-tooltip:hover {
    opacity: 1 !important;
    color: var(--wpcd-primary-brand-color);
}


/* Custom click to copy css*/

.click-to-copy-label {
    color: #9696e7;
    margin-left: 5px;
    font-size: 13px;
    cursor: pointer;
}

.copied {
    color: #9696e7;
    margin-left: 5px;
    font-size: 13px;
    cursor: pointer;
}

.copy-hidden {
    display: none
}

.click-to-copy {
    cursor: pointer;
}

.wpcd-grid-cell-col-wrap-wpcd_server .wpcd_server .wpcd-app-col-element-wrap-ipv4,
.wpcd-grid-cell-col-wrap-wpcd_server .wpcd_server .wpcd-app-col-element-wrap-ipv6 {
    display: flex;
    justify-content: space-between;
}

.type-wpcd_app .wpcd_server_ipv6 {
    display: flex;
    justify-content: space-between;
}

.type-wpcd_app .wpcd_server_ipv6 .click-to-copy {
    display: flex;
    flex-direction: column;
}

.type-wpcd_app .wpcd_server_ipv6 .click-to-copy .click-to-copy-text {
    word-break: break-all;
}

.wpcd-grid-cell-col-wrap-wpcd_server .wpcd_server .wpcd-app-col-element-wrap-ipv4 .click-to-copy,
.wpcd-grid-cell-col-wrap-wpcd_server .wpcd_server .wpcd-app-col-element-wrap-ipv6 .click-to-copy {
    display: flex;
}

.wpcd_site_details_top_row .rwmb-input .click-to-copy,
.wpcd_server_details_top_row .rwmb-input .click-to-copy {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.wpcd_site_details_top_row .rwmb-input .click-to-copy .click-to-copy-text,
.wpcd_server_details_top_row .rwmb-input .click-to-copy .click-to-copy-text {
    word-break: break-all;
}

.wpcd_site_details_top_row .rwmb-input .click-to-copy .click-to-copy-label,
.wpcd_server_details_top_row .rwmb-input .click-to-copy .click-to-copy-label {
    margin-bottom: 5px;
}


/* End Custom click to copy css*/