/**
 * This file contains css related to cards inside tabs.  
 * We've modified the metabox COLUMNS add-on to inject
 * some html and the CSS in this file formats that.
 * 
 * See also /includes/core/functions-metabox.php.
 */
.wpcd-card-group {
	background-color: var(--wpcd-light-background-color);
	margin-right: 10px;
	border: solid;
	border-width: 1px;
	border-color: var(--wpcd-medium-background-color);
	border-radius: 8px;
	padding-left: 10px;
	padding-right: 10px;
}

.wpcd-card-full {
	xwidth: 50%;
}

.wpcd-card-half {
	width: 50%;
}

.wpcd-card-third {
	width: 33.33%;
}

/* The H4 header inside tabs need to be reformatted from the WPCD defaults */
.wpcd-card-group .rwmb-field.rwmb-heading-wrapper h4 {
	margin-top: 0% !important;
}