/* This file is loaded globally on the dashboard */


/* Note: As of WPCD 4.13 Brand colors have been removed from this file and added as dynamic php vars to wp-cloud-deploy.php. */


/* Force all tooltips in metabox.io to be darker. */

.mb-tooltip {
    opacity: 0.65 !important;
}

.mb-tooltip:hover {
    opacity: 1 !important;
    color: var(--wpcd-primary-brand-color);
}


/* Custom click to copy css*/

.wpcd-click-to-copy-label {
    color: #9696e7;
    margin-left: 5px;
    font-size: 13px;
    cursor: pointer;
}

.wpcd-copied {
    color: #9696e7;
    margin-left: 5px;
    font-size: 13px;
    cursor: pointer;
}

.wpcd-copy-hidden {
    display: none
}

.wpcd-click-to-copy {
    cursor: pointer;
}

.wpcd-grid-cell-col-wrap-wpcd_server .wpcd_server .wpcd-app-col-element-wrap-ipv4,
.wpcd-grid-cell-col-wrap-wpcd_server .wpcd_server .wpcd-app-col-element-wrap-ipv6 {
    display: flex;
    justify-content: space-between;
}

.type-wpcd_app .wpcd_server_ipv6 {
    display: flex;
    justify-content: space-between;
}

.type-wpcd_app .wpcd_server_ipv6 .wpcd-click-to-copy {
    display: flex;
    flex-direction: column;
}

.type-wpcd_app .wpcd_server_ipv6 .wpcd-click-to-copy .wpcd-click-to-copy-text {
    word-break: break-all;
}

.wpcd-grid-cell-col-wrap-wpcd_server .wpcd_server .wpcd-app-col-element-wrap-ipv4 .wpcd-click-to-copy,
.wpcd-grid-cell-col-wrap-wpcd_server .wpcd_server .wpcd-app-col-element-wrap-ipv6 .wpcd-click-to-copy {
    display: flex;
}

.wpcd_site_details_top_row .rwmb-input .wpcd-click-to-copy,
.wpcd_server_details_top_row .rwmb-input .wpcd-click-to-copy {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.wpcd_site_details_top_row .rwmb-input .wpcd-click-to-copy .wpcd-click-to-copy-text,
.wpcd_server_details_top_row .rwmb-input .wpcd-click-to-copy .wpcd-click-to-copy-text {
    word-break: break-all;
}

.wpcd_site_details_top_row .rwmb-input .wpcd-click-to-copy .wpcd-click-to-copy-label,
.wpcd_server_details_top_row .rwmb-input .wpcd-click-to-copy .wpcd-click-to-copy-label {
    margin-bottom: 5px;
}

.rwmb-tab-panel-file-manager .rwmb-row .rwmb-input .wpcd_tool_details,
.rwmb-tab-panel-database .rwmb-row .rwmb-input .wpcd_tool_details {
    display: flex;
}

.rwmb-tab-panel-file-manager .rwmb-row .rwmb-input .wpcd_tool_details .wpcd-click-to-copy,
.rwmb-tab-panel-database .rwmb-row .rwmb-input .wpcd_tool_details .wpcd-click-to-copy {
    margin-left: 5px;
}


/* Custom table styles */
.wpcd_mb_inline_edit_form_window {
        background: #FFF;
        padding: 20px;
        margin-left: 160px;
        max-width: 800px;
        margin: auto;
}

.wpcd_mb_inline_edit_form_window .mfp-close {
        display: none;
}

.wpcd_mb_inline_edit_form_window .notice-error {
    padding: 10px;
    margin: 20px 0;
}

.wpcd_loading_lock_wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #b1b1b1;
        opacity: 0;
        opacity: .3;
        left: 0;
        top: -6px;
        bottom: 0;
}


.wpcd_ct_buttons_row {
        margin-top: 20px;
}

.wpcd_ct_items_table_view_container tr.active {
        background: #e9efff;
}

.wpcd_ct_items_table_view_container tr.active td {
        border: #d4dfff solid 1px;
        border-left: 0;
        border-right: 0;
}

.wpcd_ct_items_table_view_container .spinner {
        float: none;
}

.wpcd-ct-add-item-link {
        display: none;
}
/* End Custom click to copy css*/