/* This file is loaded globally on the dashboard */


/* Note: As of WPCD 4.13 Brand colors have been removed from this file and added as dynamic php vars to wp-cloud-deploy.php. */


/* Force all tooltips in metabox.io to be darker. */

.mb-tooltip {
    opacity: 0.65 !important;
}

.mb-tooltip:hover {
    opacity: 1 !important;
    color: var(--wpcd-primary-brand-color);
}


/* Custom click to copy css*/

.click-to-copy-label {
    color: #9696e7;
    margin-left: 5px;
    font-size: 13px;
    cursor: pointer;
}

.copied {
    color: #9696e7;
    margin-left: 5px;
    font-size: 13px;
    cursor: pointer;
}

.copy-hidden {
    display: none
}

.click-to-copy {
    cursor: pointer;
}


/* End Custom click to copy css*/