/**
 * This file contains css related to cards inside tabs.  
 * We've modified the metabox COLUMNS add-on to inject
 * some html and the CSS in this file formats that.
 * 
 * See also /includes/core/functions-metabox.php.
 */
.wpcd-card-group {
	background-color: var(--wpcd-light-background-color);
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	border: solid;
	border-width: 1px;
	border-color: var(--wpcd-medium-accent-background-color);
	border-radius: 8px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}
.wpcd-card-group:hover,
.wpcd-card-group:focus {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.wpcd-card-full {
	width: 100%;
	/* Nothing required here since by default everything renders full width. */
}

.wpcd-card-half {
	width: 45%;
}

.wpcd-card-third {
	width: 33.33%;
}

/* The H4 header inside tabs need to be reformatted from the WPCD defaults */
.wpcd-card-group .rwmb-field.rwmb-heading-wrapper h4 {
	margin-top: 0px !important;
	background-color: var(--wpcd-light-background-color) !important;
}

/* The first row after the .wpcd-card-group class is our pseudo container row required for our card markup. Lets get rid of it. */
.wpcd-card-group .rwmb-row:first-of-type{
	display: none;
}

/* With cards, we want the thing to flex. */
#wpcd_wordpress-app_tab2 .rwmb-tab-panel-change-domain {
	display: flex !important;
	flex-wrap: wrap;
}